:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

list {
  background-color: blue;
  flex: 1;
  flex-direction: column;
  display: none;
}

config {
  background-color: red;
  flex: 1;
  display: none;
}

.open{
  display:flex;
}