:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

:host(:hover){
  background-color: #0084ff;
  fill:white;
  cursor: pointer;
}

:host(.active){
  background-color: #00b7ff;
}