:host {
  background-color: white;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: auto;
  max-height: calc(50vh - 5rem);
  position: absolute;
  right: 0;
  width: 400px;
  z-index: 2;
  display: none;
}

:host(.show) {
  display: block;
}

table {
  background: var(--white);
  font-family: Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#closebutton {
  align-items: center;
  background: var(--white);
  display: flex;
  height: 24px;
  justify-content: center;
  margin-left: auto;
  width: 24px;
}

#closebutton:hover {
  background: var(--grey-10);
  cursor: pointer;
}